/* Q#: All the elements have margin of 0 from the top, bottom, left, and right */
*{
    margin: 0;
}

 /*Q2 The <body> element has to be styled. light blue color for the background and I selected Lucida sans for the font*/ 
 body {
    background-image: url("../assest/images/dark-wood2.jpg");
    background-color: rgb(45, 154, 167);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;

 }
 /*Q3 Style the <div> element with class “container” (it’s the main division that contains the entire HTML elements inside the body):. The width 
 of the countainer is 950 as requested and the margin left,right are auto to ensure that the countainer is in the center*/
 .container {
     width: 950px;
     margin: 5px auto 5px auto;
     background-color: rgb(169, 241, 243);
     
 }
 /*Q4 Style any element with class value of “content”, in other word target the class named “content”:*/

.content {
    line-height: 1.4em;
    padding: 10px;
}
/* Q5 Style the “header, nav, and footer” elements to share the following: I found the light yellow color is matching with the banner image 
and for the font color I selected the dark blue*/
header, nav, footer {
    background-color: rgb(255, 253, 162);
    color: rgb(7, 0, 36);
}
/* Q6 Style the unordered list element <ul> which is inside <nav> element (styling only a ul child of any nav element):
 I set the list style as non so no marker will be shown */
nav>ul {
    margin: 0;
    padding: 5px;
    list-style: none;
}
/* Q7 Style the list items <li> of the main navigation (nav): I selected the option display inline to make the list horizontal */
nav>ul>li {
    display: inline;
    margin: 40px;
    text-transform: uppercase;
}
/* Q8 Add the 4 pseudo classes effect to the anchor tags of the main navigation list items, the colour should be changed:*/ 
#main-nav a {
    color: rgb(24, 94, 3);
    }
 #main-nav a:visited {
        color: rgb(14, 117, 236);
     }
#main-nav a:hover {
    color: rgb(253, 116, 5);
}
#main-nav a:active {
    color: rgb(240, 236, 237);
}
/* Q9 Style any anchor <a> element: I created an id to a element first, then I styled it*/
#anchor-origin {
    color: rgb(170, 8, 102);
    text-decoration: none;
    font-weight: bold;
}
/*Q10 Style the three headings: h1, h2, and h3:*/
h1,h2,h3 {
    margin: 10px;
    text-transform: uppercase;
    color: rgb(9, 78, 3);
}
/* Q11 Style the custom class named “img-centre”: I gave the image class name img-centre then I styled it*/
.img-centre {
    display: block;
    margin: 5px auto 5px auto;
    padding: 2px;
}
/* Q12 Style the <audio> and <video> elements:*/
video {
    display: block;
    margin: 10px auto 10px auto;
}
/* Q13 Style any <table> element:*/
table {
    width: 800px;
    margin: 10px auto;
    border: 1px solid;
    border-collapse: collapse;
}
/*Q14 Style both the <td> and <th> element of any table:*/
td,th {
    border: groove rgba(116, 122, 93, 0.795);
    padding: 2px 5px 2px 5px;
    background-color: rgb(243, 243, 215);
}
/*Q15 Style both the <th> inside any table and the <td> inside the <tfoot>:*/
table th,tfoot td {
    text-transform: uppercase;
    background-color: rgb(179, 175, 110);
    color: rgb(95, 34, 15);
}
/*Q16 Style any <dt> element:*/
dt {

    font-weight: bold;
}
/*Q17 Style any <footer> element:*/
footer {
    font-size: 80%;
    text-align: center;
    padding: 1px 0px 1px 0px;
}
/* Q18 Style any <iframe> element:*/
iframe {
    display: block;
    margin: 10px auto 10px auto;
}
/* Q19 Style any <fieldset> element:*/
fieldset 
{
width: 500px;
margin: 20px auto 20px auto;
border: solid;
background-color: rgb(252, 244, 173);
}
/*Q20 Style any <legend> element:*/
legend {
    font-style: italic;
    color: rgb(24, 2, 59);
    background-color:rgb(148, 144, 144);
    margin: 0px 10px 0px 10px;
    padding: 0px 5px 0px 5px;
 border-radius: 30px;
}
/*Q21 Style the <input> element that has an attribute named “type” with value of “submit”:*/
input.submit {
    border-radius: 20px;
    padding: 5px;
    background-color: rgb(27, 158, 60);
    color: rgb(249, 253, 249);

}


/* Q22 Style the same <input> element that has an attribute named “type” with value of “submit” but with the pseudo class for the hover state
 (when you hover the mouse over the element):*/
 input.submit:hover {
    background-color: rgb(4, 139, 133);
    color: rgb(231, 224, 226);
    cursor: pointer;
    
}

